name: CI

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ci-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml

  test:
    name: Test
    needs: [build]
    uses: ./.github/workflows/test.yml

  publish:
    if: github.ref == 'refs/heads/main'
    name: Publish image
    needs: [test]
    uses: ./.github/workflows/publish-image.yml
    permissions:
      contents: read
      packages: write
      id-token: write
    with:
      set_latest: true
      environment: dev
    secrets: inherit


