name: Test

permissions:
  contents: read

on:
    workflow_call:

jobs:
    test:
      name: Build
      runs-on: ubuntu-latest
      steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node (LTS)
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'npm'


      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Start server
        run: npm run start &

      - name: Test
        run: npm run test